<% unless user_signed_in? %>
  <ul class="horizontal-list">
    Have an account ?
    <li>
      <%= link_to "Log in", new_user_session_path %>
    </li>
    :
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
  </ul>
<% end %>

<% if @links.any? %>
  <div>
      <h3>Your links</h3>
      <ul>
        <% @links.each do |link| %>
          <li><%= link_to "#{root_url + link.short_url}", "/#{link.short_url}" %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_for(@link) do |f| %>
  <%= render 'shared/error_messages', errors: @link.errors %>
  <div class="form-group">
    <%= f.label :long_url, "Long URL" %>
    <%= f.text_field :long_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :short_url, "Custom URL (optional)" %>
    <%= f.text_field :short_url, class: "form-control" %>
  </div>
  <%= f.submit "Shorten", class: "btn btn-primary" %>
  </div>
<% end %>
